<h1>Editing post emoji</h1>

<%= render "form", post_emoji: @post_emoji %>

<br>

<div>
  <%= link_to "Show this post emoji", @post_emoji %> |
  <%= link_to "Back to post emojis", post_emojis_path %>
</div>
